<?xml version="1.0"?>
<robot name="baxter" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="gazebo" default="false"/>
  <xacro:arg name="pedestal" default="true"/>
  <xacro:arg name="controllers_file" default="$(find baxter_gz_sim)/config/ros2_controllers.yaml"/>

  <xacro:property name="PI" value="3.1415927"/>

  <xacro:include filename="$(find baxter_description)/urdf/baxter_base/baxter_base.urdf.xacro"/>

  <xacro:if value="$(arg pedestal)">
    <xacro:include filename="$(find baxter_description)/urdf/pedestal/pedestal.xacro"/>
  </xacro:if>

  <xacro:include filename="$(find baxter_description)/urdf/left_end_effector.urdf.xacro"/>
  <xacro:include filename="$(find baxter_description)/urdf/right_end_effector.urdf.xacro"/>

  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <origin xyz="0 0 0.92418" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="base"/>
  </joint>

  <xacro:macro name="arm_ros2_control_joint" params="joint_name initial_position">
    <joint name="${joint_name}">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${initial_position}</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="state_only_ros2_control_joint" params="joint_name initial_position">
    <joint name="${joint_name}">
      <state_interface name="position">
        <param name="initial_value">${initial_position}</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
  </xacro:macro>

  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <xacro:arm_ros2_control_joint joint_name="left_s0" initial_position="0.0"/>
    <xacro:arm_ros2_control_joint joint_name="left_s1" initial_position="-0.55"/>
    <xacro:arm_ros2_control_joint joint_name="left_e0" initial_position="0.0"/>
    <xacro:arm_ros2_control_joint joint_name="left_e1" initial_position="0.75"/>
    <xacro:arm_ros2_control_joint joint_name="left_w0" initial_position="0.0"/>
    <xacro:arm_ros2_control_joint joint_name="left_w1" initial_position="1.26"/>
    <xacro:arm_ros2_control_joint joint_name="left_w2" initial_position="0.0"/>
    <xacro:arm_ros2_control_joint joint_name="right_s0" initial_position="0.0"/>
    <xacro:arm_ros2_control_joint joint_name="right_s1" initial_position="-0.55"/>
    <xacro:arm_ros2_control_joint joint_name="right_e0" initial_position="0.0"/>
    <xacro:arm_ros2_control_joint joint_name="right_e1" initial_position="0.75"/>
    <xacro:arm_ros2_control_joint joint_name="right_w0" initial_position="0.0"/>
    <xacro:arm_ros2_control_joint joint_name="right_w1" initial_position="1.26"/>
    <xacro:arm_ros2_control_joint joint_name="right_w2" initial_position="0.0"/>
    <xacro:state_only_ros2_control_joint joint_name="head_pan" initial_position="0.0"/>
    <xacro:state_only_ros2_control_joint joint_name="l_gripper_l_finger_joint" initial_position="0.0"/>
    <xacro:state_only_ros2_control_joint joint_name="r_gripper_l_finger_joint" initial_position="0.0"/>
  </ros2_control>

  <gazebo>
    <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(arg controllers_file)</parameters>
    </plugin>
  </gazebo>
</robot>
